# {{ ansible_managed }}
[Unit]
Description=Local Container Registry
After=network-online.target
Wants=network-online.target

[Container]
Image={{ registry_image }}
ContainerName=registry
PublishPort={{ registry_port }}:5000
Volume={{ registry_storage_dir }}:/var/lib/registry:Z
Environment=REGISTRY_HTTP_ADDR=0.0.0.0:5000
Environment=REGISTRY_STORAGE_DELETE_ENABLED=true

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target default.target
